---
import { getCollection, type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

import FormattedDate from '@/components/formatted-date.astro'
import LegacyDisclaimer from '@/components/blog/legacy.astro'
import Footer from '@/components/footer.astro'
import { getAuthorAge } from '@/utils/age'

import Base from './base.astro'
import { cn } from '@/utils/style'
import { LocationIcon } from '@/components/location-icon'
import { JobIcon } from '@/components/job-icon'
import { EraIcon } from '@/components/era-icon'
import { BackIcon } from '@/components/back-icon'

type Props = CollectionEntry<'blog'>['data']

const { title, description, date, updatedDate, heroImage } = Astro.props

const authorAge = getAuthorAge(date)
const isLegacyPost = date.getFullYear() < 2015

// Find the active era at the time of the post
const eras = await getCollection('eras')
const activeEra = eras.find((era) => date >= era.data.startDate && (era.data.endDate ? date <= era.data.endDate : true))

// Find the job at the time of the post
const jobs = await getCollection('jobs').catch(() => [])
const activeJob = jobs.find((job) => {
  const endDate = job.data.endDate || new Date()
  return date >= job.data.startDate && date <= endDate
})

// Find the location at the time of the post
const locations = await getCollection('locations').catch(() => [])
const activeLocation = locations.find((location) => {
  const endDate = location.data.endDate || new Date()
  return date >= location.data.startDate && date <= endDate
})
---

<Base
  title={title}
  description={description}
  image={heroImage ? heroImage.src : undefined}
  type="article"
  publishDate={date}
>
  <div class="grid min-h-dvh grid-cols-1 gap-8 md:grid-cols-[24px_1fr]">
    <div
      class="col-start-1 row-span-full hidden bg-[image:repeating-linear-gradient(45deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-repeat [--pattern-fg:var(--color-black)]/5 md:block dark:[--pattern-fg:var(--color-white)]/10"
    >
    </div>
    <div
      class={cn(
        'col-start-1 grid grid-rows-[1fr_auto] grid-cols-[repeat(3,var(--event-line-width))_12px_1fr] [--event-line-width:24px] md:col-start-2 md:[--event-line-width:36px] items-start'
      )}
    >
      <main id="main" class="col-span-5 grid grid-cols-subgrid grid-rows-[auto_auto_1fr] self-stretch text-sm">
        <!-- Row 1 -->
        <div class="col-span-3 pt-16">
          <a href="/" class="font-caps text-buttermilk flex items-baseline" aria-label="Return to homepage"
            ><BackIcon className="relative top-1 mr-2 size-3.5" /> <span class="relative top-[1px]">Back</span></a
          >
        </div>
        <div class="col-start-4 self-stretch">
          <div class="dark:border-timeline h-full w-[1px] border-l"></div>
        </div>
        <div class="col-span-1 col-start-5 py-16 pr-6 pl-4">
          <FormattedDate date={date} />
          {
            updatedDate && (
              <>
                — Updated <FormattedDate date={updatedDate} />
              </>
            )
          }
          <h1 class="mb-4 text-4xl font-thin">{title}</h1>
          {heroImage && <Image src={heroImage} alt={title} class="h-[300px] w-full rounded-lg object-cover" />}
        </div>

        <!-- Row 2 -->
        <div><EraIcon className="size-3.5 text-white/10" /></div>
        <div><JobIcon className="size-3.5 text-white/10" /></div>
        <div><LocationIcon className="size-3.5 text-white/10" /></div>
        <div class="self-stretch">
          <div class="dark:border-timeline h-full w-[1px] border-l"></div>
        </div>
        <div class="pr-6 pl-4">
          <h2 class="font-xs font-caps text-graphite pb-6 uppercase">
            The Mind of Bryan Veloso at <span class="text-sage">Age {authorAge}</span>
          </h2>
        </div>

        <!-- Row 3 -->
        <div class="relative h-full">
          {
            activeEra ? (
              <div class="h-full w-[1px] border-r" style={{ borderColor: activeEra?.data.color }} />
            ) : (
              <div class="h-full w-[1px] border-r border-white/10" />
            )
          }
          <div
            class="absolute top-0 pl-1 text-[0.5rem] font-bold whitespace-nowrap uppercase"
            style={{ color: activeEra?.data.color, writingMode: 'vertical-lr' }}
          >
            {activeEra?.data.title}
          </div>
        </div>
        <div class="relative h-full">
          {
            activeJob ? (
              <div class="h-full w-[1px] border-r" style={{ borderColor: activeJob?.data.color }} />
            ) : (
              <div class="h-full w-[1px] border-r border-white/10" />
            )
          }
          <div
            class="absolute top-0 pl-1 text-[0.5rem] font-bold whitespace-nowrap uppercase"
            style={{ color: activeJob?.data.color, writingMode: 'vertical-lr' }}
          >
            {activeJob?.data.company}
          </div>
        </div>
        <div class="relative h-full">
          {
            activeLocation ? (
              <div class="h-full w-[1px] border-r" style={{ borderColor: activeLocation?.data.color }} />
            ) : (
              <div class="h-full w-[1px] border-r border-white/10" />
            )
          }
          <div
            class="absolute top-0 pl-1 text-[0.5rem] font-bold whitespace-nowrap uppercase"
            style={{ color: activeLocation?.data.color, writingMode: 'vertical-lr' }}
          >
            {activeLocation?.data.name}
          </div>
        </div>
        <div class="self-stretch">
          <div class="dark:border-timeline h-full w-[1px] border-l"></div>
        </div>
        <div class="pr-6 pb-12 pl-4">
          <article
            class="prose prose-p:font-light prose-a:underline-offset-4 prose-img:rounded prose-img:shadow prose-a:decoration-sky prose-em:font-serif prose-lead:text-md prose-lead:font-light dark:prose-lead:text-mist dark:prose-invert"
          >
            {isLegacyPost && <LegacyDisclaimer />}
            <slot />
          </article>
        </div>
      </main>
      <Footer page="post" />
    </div>
  </div>
</Base>
